
body {
  background: url(../images/drwhobg.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

h1, h2, h3, p {
	color: white;
}

h5 {
	font-size: 30px;
}

p {
	font-size: 30px;
	color: yellow;
}

.container-fluid {
  width: 95%;
}

.character:hover {
  cursor: pointer;
}











